.container{
    display: flex;
    flex-direction: column;
    gap:20px;
    margin:10px;
    padding:10px
}

.boton{
	display: flex;
	background-color:rgb(223, 223, 89);
	justify-content: center;
	align-items: center;
	width: 220px;
	height: 30px;
    margin:20px;
    padding: 20px;
	border-radius: 20px;
	font-size: 15px;

}

